<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/src/views/img/icono.ico">
    <title>GALPONES</title>

    <!-- Custom fonts for this template-->
    <link href="/src/boostrapdiseñoadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/src/boostrapdiseñoadmin/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/src/views/css/registrar.css">
    <link rel="stylesheet" href="/src/views/css/estiloperfiles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('../plantilla/listamodulos') %>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include('../plantilla/navbar') %>
                        <!-- End of Topbar -->

                        <div class="container-fluid overflow-auto">
                            <h1></h1>

                            <div class="row g-3">
                                <div class="col">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1">
                                        AGREGAR GALPONES <i class="bi bi-house-add"></i>
                                    </button>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="busqueda"
                                        placeholder="  🔍︎    Buscar Galpon..."
                                        oninput="this.value = this.value.toUpperCase()">
                                </div>
                            </div>
                            <div class="text-center">
                                <h1>GALPONES EN EL SISTEMA</h1>
                            </div>
                            <div class="col-lg-12">
                                <h4>ESTADO DE GALPONES</h4>
                                <div class="item">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead class="bg-primary text-white">
                                                <tr>
                                                    <th class="text-center">Galpon</th>
                                                    <th class="text-center">Numero de Galpon</th>
                                                    <th classs="text-center">Disponibilidad </th>
                                                    <th class="text-center">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% galpon.forEach(function(galpon) { %>
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <img src="/src/control/assets/images/galpon.jpg"
                                                                    alt="Imagen de Galpon"
                                                                    class="templatemo-item img-thumbnail"
                                                                    style="max-width: 100px;">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <%= galpon.nombregalpon %>
                                                        </td>
                                                        <td>
                                                            <%= galpon.disponibilidad %>
                                                        </td>
                                                        <td>
                                                            <% if (galpon.estadogalpon==1) { %>
                                                                <button onclick="botoningreso(<%= galpon.idgalpon %>)"
                                                                    type="button" class="btn btn-primary"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#exampleModal2">
                                                                    Ingresar
                                                                    <i class="bi bi-house-add"></i>
                                                                </button>
                                                                <% } %>
                                                                    <% if (galpon.estadogalpon==1) { %>
                                                                        <button
                                                                            onclick="botoneditar(<%= galpon.idgalpon %>)"
                                                                            type="button" class="btn btn-primary"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#exampleModal">
                                                                            <i class="bi bi-pencil-square"></i>
                                                                        </button>
                                                                        <% } %>
                                                                            <% if (galpon.estadogalpon==1) { %>
                                                                                <button
                                                                                    onclick="botoneliminar(<%= galpon.idgalpon %>) "
                                                                                    type="button"
                                                                                    class="btn btn-danger"><i
                                                                                        class="bi bi-trash-fill"></i></button>
                                                                                <% } %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!---->
                        <h1>GALPONES INACTIVOS</h1>

                        <div class="col-lg-12">
                            <div class="item">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Galpon</th>
                                                <th class="text-center">Numero de Galpon</th>
                                                <th classs="text-center">Disponibilidad </th>
                                                <th class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% galponInactivos.forEach(function(galpon) { %>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex justify-content-center">
                                                            <img src="/src/control/assets/images/galpon.jpg"
                                                                alt="Imagen de Galpon"
                                                                class="templatemo-item img-thumbnail"
                                                                style="max-width: 100px;">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <%= galpon.nombregalpon %>
                                                    </td>
                                                    <td>
                                                        <%= galpon.disponibilidad %>
                                                    </td>
                                                    <td>
                                                        <button onclick="botonveract(<%= galpon.idgalpon %>)"
                                                            type="button" class="btn btn-success">RESTABLECER</button>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- MODAL PARA AGREGAR -->
                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">AGREGAR GALPON</h1>

                                    </div>
                                    <div class="modal-body">
                                        <div class="right-container" style="padding: 20px; flex-grow: 1;">
                                            <form id="myForm">

                                                <label for="nombregalpon">GALPON:</label>
                                                <input type="text" placeholder="Ingrese Nombre del Galpon"
                                                    id="nombregalpon" oninput="validarYConvertir(this)">

                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"
                                            onclick="postDatos()">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--

                            -->

                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">REGISTRAR GALPON</h1>
                                    </div>
                                    <div class="modal-body">
                                        <div class="right-container" style="padding: 20px; flex-grow: 1;">
                                            <form id="myForm">
                                                <label for="nombregalpon1">Galpon:</label>
                                                <input type="text" id="nombregalpon4" readonly>
                                                <input type="text" id="nombregalpon1" readonly style="display: none;">
                                                <label for="nombre_producto">Producto:</label>
                                                <input type="text" id="nombre_producto1">
                                                <label for="cantidadpollo">Cantidad:</label>
                                                <input type="text" id="cantidadpollo"
                                                    oninput="validarYConvertir2(this)">

                                                <label for="fechallegada" class="form-label">Fecha:</label>
                                                <input type="date" class="form-control" id="fechallegada">

                                                <label for="mortalidadpollos">Mortalidad:</label>
                                                <input type="text" id="mortalidadpollos" oninput="valor(this)" readonly
                                                    value="0">

                                                <label for="descripcion">Descripcion:</label>
                                                <textarea class="form-control" aria-label="With textarea"
                                                    id="discripcion" readonly>Nuevo registro!</textarea>

                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"
                                            onclick="registrar()">Registrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- MODAL PARA EDITAR-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">ACTUALIZAR GALPON
                                        </h1>
                                    </div>
                                    <div class="modal-body">
                                        <div class="right-container" style="padding: 20px; flex-grow: 1;">
                                            <form id="myForm">
                                                <label for="idgalpon1">ID:</label>
                                                <input type="text" placeholder="Ingrese su ID" id="idgalpon1" readonly>
                                                <label for="nombregalpon2">Galpon:</label>
                                                <input type="text" placeholder="Ingrese Nombre del Galpon"
                                                    id="nombregalpon2" oninput="validarYConvertir(this)">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"
                                            onclick="guardarDatos()">Actualizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; UNSM 2023</span>
                        </div>
                    </div>
                </footer>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


            <script>
                //
                function valor(input) {
                    if (input.value === "") {
                        input.value = "0";
                    }
                }

                //FECHA
                async function obtenerFechaActual() {
                    const apiUrlFecha = 'https://worldtimeapi.org/api/timezone/America/Lima';

                    try {
                        const responseFecha = await fetch(apiUrlFecha);
                        const dataFecha = await responseFecha.json();
                        const fecha = dataFecha.datetime.split('T')[0];

                        document.getElementById('fechallegada').setAttribute('max', fecha);
                        document.getElementById('fechallegada').value = fecha;

                        return fecha;
                    } catch (error) {
                        console.error('Error al obtener la fecha actual:', error);
                        throw error;
                    }
                }

                //VISUALIZAR
                async function obtenerInformacionGalpon(idgalpon) {
                    const apiUrlGalpon = `/galpon/${idgalpon}`;

                    try {
                        const galponResponse = await axios.get(apiUrlGalpon);
                        const respuestadelquery = galponResponse.data;

                        if (respuestadelquery) {
                            document.getElementById('nombregalpon4').value = respuestadelquery.nombregalpon;
                            document.getElementById('nombregalpon1').value = respuestadelquery.idgalpon;
                            console.log("HOLA");
                        }

                        return respuestadelquery;
                    } catch (error) {
                        console.error('Error al obtener la información del galpón:', error);
                        throw error;
                    }
                }

                async function botoningreso(idgalpon) {
                    try {
                        const fecha = await obtenerFechaActual();

                        const respuestadelquery = await obtenerInformacionGalpon(idgalpon);

                        console.log(respuestadelquery);
                    } catch (error) {
                        console.error('Error en la función botoningreso:', error);
                    }
                }

                //REGISTRO
                function registrar() {
                    const idgalpon = document.getElementById('nombregalpon1').value;
                    const cantidadpollo = document.getElementById('cantidadpollo').value;
                    const fechallegada = document.getElementById('fechallegada').value;
                    const producto = document.getElementById('nombre_producto1').value;
                    const mortalidadpollos = document.getElementById('mortalidadpollos').value;
                    const descripcion = document.getElementById('discripcion').value;

                    const data = {
                        idgalpon: idgalpon,
                        cantidadpollo: cantidadpollo,
                        fechallegada: fechallegada,
                        producto: producto,
                        mortalidadpollos: mortalidadpollos,
                        descripcion: descripcion,
                    };

                    console.log(data)

                    axios.post('/admin/controlgalpon', data)
                        .then(function (response) {
                            const idControlGalpon = response.data.idControlGalpon;

                            Swal.fire({
                                icon: 'success',
                                title: 'Registro exitoso',
                                text: 'El Control Galpon se realizó correctamente.',
                                timer: 2000,
                                showConfirmButton: false
                            });
                            setTimeout(function () {
                                window.location.href = '/admin/galpon';
                            }, 2000);

                        })
                        .catch(function (error) {
                            console.error("Error en la operación de registro:", error);
                        });
                }

                //funcion para validad canntidad de aliemnto en tiempo real
                // Obtener referencia al campo de alimento
                const inputPollo = document.getElementById('cantidadpollo');

                inputPollo.addEventListener('input', function () {
                    const cantidad = parseFloat(this.value);

                    const idproducto = document.getElementById('nombre_producto').value;
                    const productoEncontrado = productoglobal.find(producto => producto.idproducto == idproducto);

                    if (productoEncontrado) {
                        if (cantidad > productoEncontrado.stock) {

                            Swal.fire({
                                icon: 'error',
                                title: 'Error de validación',
                                text: 'La cantidad ingresada supera el Stock.',
                                showConfirmButton: true
                            }).then(() => {

                                document.getElementById('cantidadpollo').value = "";;
                            });
                        }
                    }
                });


                //EDITAR
                function botoneditar(idgalpon) {
                    console.log(idgalpon);
                    axios.get(`/galpon/${idgalpon}`)
                        .then(function (response) {
                            const respuestadelquery = response.data;

                            if (respuestadelquery) {
                                console.log(respuestadelquery);
                                document.getElementById('idgalpon1').value = respuestadelquery.idgalpon;
                                document.getElementById('nombregalpon2').value = respuestadelquery.nombregalpon;
                            }
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                }

                //AGREGAR
                function postDatos() {
                    const nombregalpon = document.getElementById('nombregalpon').value;
                    const data = {
                        nombregalpon: nombregalpon,
                    };

                    axios.post('/admin/galpon', data)
                        .then(function (response) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Registro exitoso',
                                text: 'El Galpon se realizó correctamente.',
                                timer: 2000,
                                showConfirmButton: false
                            });
                            setTimeout(function () {
                                window.location.href = '/admin/galpon';
                            }, 2000);
                        })

                }

                //GUARDAR CAMBIO
                function guardarDatos() {
                    const idgalpon1 = document.getElementById('idgalpon1').value;
                    const nombregalpon2 = document.getElementById('nombregalpon2').value;
                    console.log(nombregalpon2);
                    const data = {
                        nombregalpon1: nombregalpon2,
                    };
                    axios.put(`/admin/galpon/${idgalpon1}`, data)
                        .then(function (response) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Registro exitoso',
                                text: 'El Galpon se realizó correctamente.',
                                timer: 2000,
                                showConfirmButton: false
                            }).then(function () {
                                location.reload();
                            });
                        })
                        .catch(function (error) {
                            console.error(error);
                        });

                }

                //ELIMINAR
                function botoneliminar(idgalpon) {
                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: 'Esta acción eliminará el Galpon con ID ' + idgalpon,
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Sí, eliminar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.delete(`/admin/galpon/${idgalpon}`)
                                .then((response) => {
                                    console.log('Galpon eliminado con éxito');
                                    window.location.reload();
                                })
                                .catch((error) => {
                                    console.error('Error al eliminar Galpon:', error);
                                });
                        }
                    });
                }

                //RESTABLECER
                function botonveract(idgalpon) {
                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: 'Esta acción restablecera el Galpon con ID ' + idgalpon,
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Sí, restablecer',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.delete(`/admin/borragalpon/${idgalpon}`)
                                .then((response) => {
                                    console.log('Galpon restablecido con éxito');
                                    window.location.reload();
                                })
                                .catch((error) => {
                                    console.error('Error al restablecer Galpon:', error);
                                });
                        }
                    });
                }

                //MAYUSCULA Y CON NUMEROS, ESPACIO
                function validarYConvertir(input) {
                    var regex = /^[A-Za-z0-9\s]+$/;
                    if (!regex.test(input.value)) {
                        input.value = input.value.replace(/[^A-Za-z0-9\s]+/g, '');
                    }
                    input.value = input.value.toUpperCase();
                }


                //PARA BUSCAR EN MI TABLA
                const campoBusqueda = document.getElementById('busqueda');
                const filasTabla = document.querySelectorAll('tbody tr');

                campoBusqueda.addEventListener('input', function () {
                    const consulta = campoBusqueda.value.toLowerCase();
                    filasTabla.forEach(function (fila) {
                        const contenidoFila = fila.textContent.toLowerCase();
                        if (contenidoFila.includes(consulta)) {
                            fila.style.display = 'table-row';
                        } else {
                            fila.style.display = 'none';
                        }
                    });
                });

                //
                // Función que valida y convierte a puro número con mensaje de límite de 1500
                function validarYConvertir2(input) {
                    input.value = input.value.replace(/[^0-9]/g, '');
                    var numero = parseInt(input.value, 10);
                    if (isNaN(numero)) {
                        numero = 0;
                    }
                    if (numero > 1500) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Ajuste necesario',
                            text: 'La capacidad máxima del galpón es de 1500. Se ajustará al máximo permitido.',
                            showConfirmButton: true
                        });
                        numero = 1500;

                    }
                    input.value = numero;
                }



            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>
    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->

    <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/src/boostrapdiseñoadmin/vendor/jquery/jquery.min.js"></script>
    <script src="/src/boostrapdiseñoadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/src/boostrapdiseñoadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/src/boostrapdiseñoadmin/js/sb-admin-2.min.js"></script>

</body>

</html>